*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#e6e6e6;
}

header{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

#logo-boolean{
    vertical-align: middle;
}

#box-center{
    margin: auto;
    width: 70%;
    margin-top: 5rem;
    
}

#box-task{
    margin-top: 1px;
}

#box-botton{
    padding-top:15px ;
    padding-bottom: 15px;
}
/* ----------------------------------- */
/* bottoni colorati  */

.bottone-blu{
    background-color: cornflowerblue;
    color: white;
}


#bottone-bianco{
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
}

.button{
    border-radius: 6px;
    padding: 6px;
}

.bottoni-materie{
    font-size: small;
    padding: 4px;
    border-radius: 8px;
    display: inline-block;
    
}

.bottone-viola{
    background-color: blueviolet;
    color: white;
}

.bottone-verde{
    background-color: green;
    color: white;
}

.bottone-ocra{
    background-color: sandybrown;
    color: white;
}

.bottone-rosa{
    background-color: palevioletred;
    color: white;
}

.bottone-verdechiaro{
    background-color: greenyellow;
    color: white;
}

/* ----------------------------------- */
.box-white{
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
}

.attivita-titoli{
    font-size:large ;
    font-weight: 900;
    font-family: sans-serif;

}

.box-spacebottom{
    padding-bottom: 10px;
}


